@use '../base/variaveis' as *;

.categories {
    padding: 0 2rem;
    max-width: 1400px;
    margin: 0 auto;
}

.main {
    display: grid;
    grid-template-columns: 1fr 22rem;
    gap: 2rem;
    padding: 2rem;
    max-width: 1400px;
    margin: 0 auto;

    &__content {
        background-image: url(../../../dist/images/quiet-place-banner.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 2rem 0;
        border-radius: 1rem;
        height: 50%;
        min-width: 0;
        color: $colorWhite;

        .main__title {
            padding: 0 2rem;
            font-size: 2rem;
            font-weight: 500;
            margin-bottom: 1rem;
        }

        p {
            padding: 0 2rem;
            margin-bottom: 1.5rem;
            line-height: 1.6;
        }

        .main__buttons {
            padding: 0 2rem;
            display: flex;
            gap: 1rem;

            button {

                &:first-child {
                    background-color: $colorWhite;
                    color: $secondaryColor;
                }

                padding: 0.75rem 1.5rem;
                border: none;
                border-radius: 1.5rem;
                font-weight: 500;
                font-size: 1rem;
                background-color: transparent;
                border: 1px solid $colorWhite;
                color: $colorWhite;
                cursor: pointer;

                &:hover {
                    background-color: white;
                    color: $secondaryColor;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .main {
        grid-template-columns: 1fr;
        padding: 0;

        &__content {
            padding: 1.5rem;
            height: 60%;
        }
    }
}