$primaryColor: #1F232D;
$secondaryColor: #171A21;
$fontMain: 'Poppins', sans-serif;
$gradientMain: linear-gradient(90deg, #ff004c, #ff6f);
$borderColor: #7B7F89;
$colorWhite: #fff;
$colorGray: #aaa;
$tagBackground: #353942;
$tagCategorie: #2D3037;